.inventoryImage {
  width: 64px;
  height: 64px;
}

.inventoryAction {
  margin-left: 8px;
}

.dialogForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dialogInputBox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dialogButtonBox {
  display: flex;
  gap: 0.5rem;
  justify-content: right;
}

.dialogButton {
  background-color: #e91e63;
  color: #fff;
}

.searchBar {
  background-color: white;
  border-radius: 10px;
  border: 1px solid #ccc;
}
